.App {
  text-align: center;
}
.pokelogo {
  width: 500px;
  height: auto;
}
.container {
  margin-top: 100px ;
  max-width: 1600px!important;
}
.card{
  background-color:teal!important;
  width: 320px;
  height: 130px!important;
  padding: 0px 2px ;
  border-radius: 20px!important;
  align-items: center;
  box-shadow: 6px 6px #000;
}
.pokename {
  margin-top: 30px;
  margin-left: 10px;
}
.left-content,
.right-content{
  flex-basis: 50%;
}
.left-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  gap: 20px; 
}
.card-body {
  display: flex;
}
.pokepic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile {
  width: 200px;
  height: auto;
}
.pname {
  color: aqua;
}
.attribute {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aname {
  background: yellow;
  padding: 10px;
  border-radius: 10px;
}
.abilities {
  color: #f0f0f0;
  text-align: center;
}